<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.my12306">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login_Activity"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register_Activity"
            android:label="注册" ></activity>
        <activity
            android:name=".forgetPwd_Activity"
            android:label="忘记密码" />
        <activity android:name=".Splash" ></activity>
        <activity
            android:name=".MainActivity"
            android:label="车票预订"
            android:theme="@style/DefaultCityPickerTheme">
        </activity>
        <activity
            android:name=".dataChoose"
            android:label="选择日期" />
        <activity
            android:name=".today_s_order"
            android:label="今日已完成订单" />
        <activity
            android:name=".historyOrder"
            android:label="历史订单" />
        <activity android:name=".unGo"
            android:label="未完成订单"/>
        <activity android:name=".userMes"
            android:label="用户信息"/>
        <activity android:name=".phoneCheck" />
        <activity android:name=".myinsurance" />
        <activity android:name=".Travel_guide" />
        <activity android:name=".warmprompt" />
        <activity android:name=".usually" />
        <activity android:name=".personal_data" />
        <activity android:name=".pwdChange" />
        <activity android:name=".mailChange" />
        <activity android:name=".timeCheck" />
        <activity android:name=".trainCheck" />
        <activity android:name=".fareCheck_not_do" />
        <activity android:name=".outletsCheck" />
        <activity android:name=".stationCheck_unfinished" />
        <activity android:name=".saleCheck" />
        <activity android:name=".serveCheck" />
        <activity android:name=".lostCheck_be" />
        <activity android:name=".lostCheck" />
        <activity android:name=".advise" />
        <activity android:name=".DateActivity" />
        <activity android:name=".order_ticket"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ConfirmOrder"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>>
        <activity android:name=".AddPassengers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".PayTicket"/>
        <activity android:name=".Country"/>
        <activity android:name=".Passengers" />
        <activity android:name=".NewPassengers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>